* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jersey 15", sans-serif;
    background-color: #3E2C1C;
}

html {
    scroll-behavior: smooth;
}

/* NAV SECTION */

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #24171b;
    color: white;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

.logo {
    font-size: 1.5rem;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    gap: 2rem;
    font-size: 1.5rem;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.header-img {
    margin-top: 20px;
    text-align: center;
}
  
.header-gif {
    width: 63%;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    border: 3px solid black;
}
  

/* MENU SECTION */

#menu {
    margin-top: 20px;
}

.menu-container {
    width: 60%;
    margin: auto;
    background-color: #495435;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding-left: 60px;
    color: #ffecd6;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.menu-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 1rem; 
    padding: 1rem;
    border-bottom: 1px solid #ddd; 
}

.item-img {
    width: 100px; 
    height: auto; 
    border-radius: 5px;
    border: 3px solid #ebd9c5;
}

.item-details {
    width: 60%;
    text-align: center;
}

.item-name {
    font-size: 1.5rem; 
    font-weight: bold;
    padding-bottom: 1rem;
    color: #ffecd6;
}

.item-description {
    font-size: 1.25rem;
    color: #d2c9a5;
}

.item-price {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: #ffecd6;
} 



/* FORM SECTION */

form {
    font-size: 1.25rem;
}

#order-form {
    margin-top: 20px;
    margin-bottom: 20px;

}

.order-form-container {
    width: 60%;
    margin: auto;
    background-color: #253a5e;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
}

.form-group {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.form-sub-title {
    font-size: 1.5rem;
    color: #ffecd6;
    margin: 0.5rem;
}

#form-item-name {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1rem;
    margin-left: 7px;
    border: 3px solid #ebd9c5;
}

#form-item-quantity {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1rem;
    margin-left: 7px;
    border: 3px solid #ebd9c5;
}

label {
   color: #d2c9a5;
   margin-left: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ddd; 
}



/* INPUT SECTION */

input {
    font-family: "Jersey 15", sans-serif;
    border-radius: 0.5rem;
    padding: 5px;
    margin-left: 8px;
}

textarea {
    font-family: "Jersey 15", sans-serif;
    border-radius: 0.5rem;
    border: 3px solid #ebd9c5;
    width: 30%;
    padding: 1rem;
    margin-top: 6px;
}

select {
    width: 25%;
}

/* BUTTON */

.btn-container {
    margin-top: 20px;
    display: flex;
}

.btn-color-1, .btn-color-2 {
    margin: auto;
    padding: 1rem;
    width: 40%;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-radius: 2rem;
    font-family: "Jersey 15", sans-serif;
    font-size: 1.5rem;
    color: white;
}

.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
  background: #10141f;
  color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: #10141f;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/* FOOTER SECTION */

footer {
    text-align: center;
    padding: 20px;
    background-color: #24171b;
    color: white;
    border-top: 3px solid black;
}

footer p{
    font-size: 1.25rem;
}