* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jersey 15", sans-serif;
    background-color: #3E2C1C;
}


/* NAV SECTION */

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #34160B;
    color: white;
    margin-bottom: 20px;
}

.logo {
    font-size: 1.5rem;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    gap: 2rem;
    font-size: 1.5rem;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
    text-decoration: none;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.header-image {
    margin-top: 20px; /* Add space below the navigation */
    text-align: center; /* Center the GIF */
}
  
.header-gif {
    width: 63%;
    display: block;
    margin: 0 auto; /* Center the GIF */
    border-radius: 20px;
}
  

/* MENU SECTION */

#menu {
    margin-top: 20px;
}

.menu-container {
    width: 60%;
    margin: auto;
    background-color: #264533;
    padding: 20px;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding-left: 50px;
    color: #ffecd6;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.menu-item {
    display: flex;
    align-items: center; /* Vertically centers content */
    justify-content: space-between; /* Creates space between items */
    gap: 1rem; /* Adds space between child elements */
    padding: 1rem;
    border-bottom: 1px solid #ddd; /* Optional: Separates items visually */
}

.item-image {
    width: 100px; /* Adjust size as needed */
    height: auto; /* Maintains aspect ratio */
    border-radius: 5px; /* Optional: Rounds image corners */
}

.item-price {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    color: #ffecd6;
} 

.item-details {
    width: 60%;
    text-align: center;
}

.item-name {
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: bold;
    padding-bottom: 1rem;
    color: #ffecd6;
}

.item-description {
    font-size: 1.25rem;
    color: #d2c9a5;
}

/* FORM SECTION */

#order-form {
    margin-top: 20px;
}